#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    color: #2e7d32;
}

.error {
    color: #c62828;
    font-weight: bold;
}
