<div id="content">
    <div>
        <div class="center">
            <ngx-file-drop dropZoneLabel="Drop your Fitbod WorkoutExport.csv here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    Drop your Fitbod WorkoutExport.csv here, or
                    <button type="button" (click)="openFileSelector()">Browse Files</button>
                </ng-template>
            </ngx-file-drop>

            <p class="status" *ngIf="status" role="status">{{ status }}</p>
            <p class="error" *ngIf="error" role="alert">{{ error }}</p>
            <button type="button" class="download" *ngIf="lastConverted" (click)="download()">Download again</button>

            <div class="upload-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="upload-name-style">
                        <tr *ngFor="let item of files; let i=index">
                            <td><strong>{{ item.relativePath }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
